/* Fonts */

$primary-font: 'Open Sans', sans-serif;

/* Colors */

$primary-color: #518764;
$secondary-color: #dedede;
$terciary-color: #F5F5F5;

$primary-bg-color: #2670AF;
$secondary-bg-color: #fff;
$terciary-bg-color: #1a357c;
$quaternary-bg-color: #6c757d;

$primary-text-color: #333;
$secondary-text-color: #fff;

$header-top-link-color: #fff;

$hero-text-color: #fff;
$hero-link-color: #fff;

$form-text-color: #333;
$form-border-color: #333;

$form-text-white-color: #fff;
$form-border-white-color: #fff;

$form-button-bg-dark-color: #252626;
$form-button-border-dark-color: #252626;

$footer-divider-color: #d1d1d1;
$footer-link-color: #fff;
$footer-link-color-hover: #fff;